basePath: /
definitions:
  api.CreateMedia:
    properties:
      title:
        example: Sheep Discovers How To Use A Trampoline
        type: string
    required:
    - title
    type: object
  api.HealthCheckResponse:
    properties:
      commit:
        type: string
      tag:
        type: string
    type: object
  api.UpdateMedia:
    properties:
      title:
        example: Sheep Discovers How To Use A Trampoline
        type: string
    required:
    - title
    type: object
  ent.Media:
    properties:
      created_at:
        type: string
      id:
        type: string
      status:
        type: string
      title:
        type: string
      updated_at:
        type: string
    type: object
  httputils.DataResponse:
    properties:
      code:
        example: 200
        type: integer
      data:
        type: object
    type: object
  httputils.ErrorResponse:
    properties:
      code:
        example: 400
        type: integer
      message:
        example: status bad request
        type: string
    type: object
host: demo-v1.gilfoyle.dreamvo.com
info:
  contact: {}
  description: Cloud-native media hosting & streaming server for businesses.
  license:
    name: GNU General Public License v3.0
    url: https://github.com/dreamvo/gilfoyle/blob/master/LICENSE
  title: Gilfoyle server
  version: v1
paths:
  /healthz:
    get:
      description: Check for the health of the service
      operationId: checkHealth
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/httputils.DataResponse'
            - properties:
                data:
                  $ref: '#/definitions/api.HealthCheckResponse'
              type: object
      summary: Check service status
      tags:
      - health
  /medias:
    get:
      description: Get latest created medias
      operationId: getAllMedias
      parameters:
      - description: Max number of results
        in: query
        name: limit
        type: integer
      - description: Number of results to ignore
        in: query
        name: offset
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/httputils.DataResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/ent.Media'
                  type: array
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Query medias
      tags:
      - Medias
    post:
      consumes:
      - application/json
      description: Create a new media
      operationId: createMedia
      parameters:
      - description: Media data
        in: body
        name: media
        required: true
        schema:
          $ref: '#/definitions/api.CreateMedia'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/httputils.DataResponse'
            - properties:
                data:
                  $ref: '#/definitions/ent.Media'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Create a media
      tags:
      - Medias
  /medias/{id}:
    delete:
      description: Delete one media
      operationId: deleteMedia
      parameters:
      - description: Media ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/httputils.DataResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Delete a media
      tags:
      - Medias
    get:
      description: Get one media
      operationId: getMedia
      parameters:
      - description: Media ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/httputils.DataResponse'
            - properties:
                data:
                  $ref: '#/definitions/ent.Media'
              type: object
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Get a media
      tags:
      - Medias
    patch:
      consumes:
      - application/json
      description: Update an existing media
      operationId: updateMedia
      parameters:
      - description: Media ID
        in: path
        name: id
        required: true
        type: string
      - description: Media data
        in: body
        name: media
        required: true
        schema:
          $ref: '#/definitions/api.UpdateMedia'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/httputils.DataResponse'
            - properties:
                data:
                  $ref: '#/definitions/ent.Media'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Update a media
      tags:
      - Medias
  /medias/{id}/upload:
    post:
      consumes:
      - multipart/form-data
      description: Upload a new media file for a given media ID
      operationId: uploadMediaFile
      parameters:
      - description: Media identifier
        in: path
        name: id
        required: true
        type: string
      - description: Media file
        in: formData
        name: file
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/httputils.DataResponse'
            - properties:
                data:
                  $ref: '#/definitions/ent.Media'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Upload a media file
      tags:
      - Medias
schemes:
- http
- https
swagger: "2.0"
