name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.15
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.15.x
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.3
        with:
          node-version: 12.20.x

      - name: Building dashboard assets
        run: |
          cd dashboard/ui
          yarn
          yarn build

      - name: Build
        run: |
          go generate ./...
          go build -v .

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt install ffmpeg -y

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          go test -race -coverprofile=./c.out -covermode=atomic -v ./...

      - name: Report code coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: go run github.com/mattn/goveralls -coverprofile=./c.out -service=github

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: lint with golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.32

      - name: lint with gofmt
        run: |
          FMT_LINES=$(gofmt -s -l . | grep -v 'statik.go')
          if [ $( echo $FMT_LINES | grep -c '.go' ) != "0" ]; then
            exit 1;
          fi
