name: OpenAPI

on: [push,pull_request]

jobs:
  build:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Get dependencies
        run: |
          npm install -g @apidevtools/swagger-cli

      - name: Validate OpenAPI specs
        run: |
          swagger-cli validate ./api/docs/swagger.json
